body { 
	margin: 0;
	height: 200px;
	width: 500px;
}

#root {
	background-color: #D4F3F0;
	font-family: 'Share Tech Mono', monospace;
	color: #244853;
	position: relative;
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
}

.alien-img {
	position: absolute;
	width: 152.53px;
	height: 180px;
	left: 30px;
	bottom: 0;
}

.left-star {
	position: absolute;
	width: 21.21px;
	height: 21.21px;
	left: 10px;
	top: 50px;
	border-radius: 1px;
	transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

.right-star {
	position: absolute;
	width: 21.21px;
	height: 21.21px;
	left: 160px;
	bottom: 20px;
	border-radius: 1px;
	transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

.intro-text {
	position: absolute;
	width: 273px;
	height: 98px;
	left: 210px;
	font-size: 25px;
	line-height: 28px;
	outline: none;
}

.next {
	position: absolute;
	width: 115px;
	height: 40px;
	left: 360px;
	top: 135px;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	background: #2C82D1;
	border-radius: 3px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.next:active {
	background: #22629e;
}

.next:focus {
	outline: 2px dashed #244853;
	outline-offset: 2px;
}
